*
{
    margin: 0 ;
    padding: 0 ;
}
html
{
    font-size: 10px;
    color: rgba(20, 42, 49, 1);
}
p,h1,h2,h3
{
    color: rgba(20, 42, 49, 1);
}
h1,h2,h3
{
    font-family: Roboto;
}
h2
{
    font-size: 4rem;
    font-weight: 400;
}
h3
{
    font-weight: 400;
    font-size: 2.1rem;
}
p
{
    font-size: 1.6rem;
}
body {
    font-family: 'Poppins', sans-serif;
  }  
header
{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    height: 8.7rem;
    align-items: center;
}
header div
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 4.5rem;
}
header ul
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    line-height: 2.8rem;
}
li a
{
    text-decoration: none;
    color: rgba(20, 42, 49, 1);
}
header button 
{
    text-transform: uppercase;
    background-color: rgba(253, 176, 171, 1);
    padding: 1.5rem 4rem;
    margin-right: 6rem;
    border-radius: 12.8rem;
    border-style: none;
}
header button:hover
{
    opacity: 50%;
}
header img
{
    margin-left: 6.5rem;
}
.manage_section
{
    background-color:rgba(243, 248, 243, 1);
    display: flex;
    justify-content: space-between;
    gap: 7.7rem;
}
.manage
{
    margin-top: 15rem;
    margin-left: 5.5rem;
}
h1
{
    font-family: Roboto;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 0%;
    margin-bottom: 4rem;
}
.manage p
{
    width: 45rem;
}
.button_div
{
    display: flex;
    flex-direction: column;
    gap:1.9rem ;
    margin-top: 3.1rem;
}
.manage button, .step button , footer button
{
    background-color:rgba(20, 42, 49, 1);
    color:white;
    font-size: 1.6rem;
    font-weight: 100;
    align-items:center;
    padding: 1rem;
    width: 25rem;
    height: 4.7rem;
    border-radius: 12.8rem;
    display: flex;
    gap: 3rem;
}
button img  
{
    width: 2rem;
}
.phone
{
    min-width: 41.6vw;
    background-color:rgba(20, 42, 49, 1);
    overflow: hidden;
    margin-top: 6.8rem;
    text-align: center;
    border-top-left-radius: 5rem;
}
.phone img
{
    transform:translateY(7.5rem);
}
.second_section 
{
    display: flex;
    align-items:center;
    justify-content:center;
    padding-top: 13.6rem;
}
.second_section div
{
    text-align: center;
}
.des
{
    font-size: 2rem;
    width: 44rem;
    letter-spacing: 0%;
}
.s
{
    display: flex;
    align-items:center;
    gap: 2.8rem;
    justify-content: center;
    margin-top: 4.8rem;
}
.simple
{
    text-align: center;
    margin-top: 16.5rem;
}
.simple h2
{
    margin-right: 16rem;
}
.simple p
{
    margin-top: 3rem;
}
.cards
{
    display: flex;
    justify-content: space-between;
    margin-top: 15.5rem;
    padding: 0 3.2rem;
}
.cards div
{
    width: 32rem;
}
.cards h3
{
    font-size: 2.1rem;
    margin-top: 11.7rem;
    font-weight: 400;
    margin-left: -5.7rem;
}
.cards p
{
    margin-top: 1.7rem;
}
.auto
{
    margin-top:-3.2rem
}
.auto h3
{
    margin-top: 8rem;
}
.debt
{
    margin-top: 4rem;
}
.debt h3
{
    margin-top: 15.3rem;
}
.interest
{
    display: flex;
    margin-top: 31rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.interest div
{
    margin-left: 4rem;
}
.interest h2
{
    width: 40rem;
}
.button
{
    text-transform: uppercase;
    color:rgba(253, 176, 171, 1);
    background-color:rgba(20, 42, 49, 1);
    width: 23.8rem;
    height: 2.4rem;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 4rem;
}
.interest p
{
    margin-top: 3rem;
    width: 45vw;
}
.interest img
{
    margin-top: -5rem;
    margin-right: 8.8rem;
}
.brands_section
{
    padding-left: 10.4rem;
    margin-top: 27.2rem;
    display: flex;
    justify-content: space-between;
}
.brands_section div
{
    margin-top: 6.5rem;
    text-align: left;
    margin-right: 4.2rem;
}
.brands_section h2
{
    width: 30rem;
}
.brands_section p
{
    margin-top:2.7rem ;
    width: 44vw;
}
.anxiety_sections
{
    display: flex;
    justify-content: space-between;
    margin-top: 26.5rem;
}
.anxiety_sections div
{
    margin-left: 4rem;
}
.anxiety_sections p
{
    margin-top: 3.2rem;
    width: 42.7vw;
    margin-bottom: -1rem;
}
.anxiety_sections img
{
    margin-top: -5rem;
    margin-right: 10.4rem;
}
.pay_section
{
    display: flex;
    justify-content: space-between;
    margin-top: 32.3rem;
}
.pay_section img
{
    margin-top: -12.5rem;
    margin-left: 10.4rem;
}
.pay_section p
{
    width: 42vw;
    margin-top: 3rem;
    margin-right: 6.3rem;
}
.start_section
{
    margin-top: 9rem;
    background-color:rgba(243, 248, 243, 1);
    padding-top: 7.8rem;
    padding-bottom: 10.7rem;
}
.start_section h1
{
    text-align: center;
}
.steps
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding:0 5rem;
}
.square
{
    margin-top: 4rem;
    margin-left:auto;
    margin-right: auto;
    width: 4rem;
    height: 4rem;
    background-color:rgba(253, 176, 171, 1);
    border: 8px solid rgba(251, 219, 216, 1);
    text-align:center;
    align-items:center;
}
.step h3
{
    font-weight: 400;
    font-size: 2.1rem;
    letter-spacing: 0%;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.step p
{
    width: 30rem;
    font-size: 1.4rem;
}
.step button
{
    margin-left:auto;
    margin-right: auto;
}
.update_section
{
    padding-left: 4rem;
    padding-right: 4rem;
}
.h2plusbutton 
{
    display: flex;
    justify-content: space-between;
}
.update_section h2
{
    margin-top: 9.6rem;
    margin-bottom: 3.2rem;
}
.update_section button
{
    width: 19.6rem;
    height: 5.2rem;
    text-transform: uppercase;
    border-radius: 128px;
    background-color:rgba(253, 176, 171, 1);
    border-style: none;
    margin-top: 9.6rem;
}
.posts
{
    margin-top: 5.9rem;
    display: flex;
    justify-content: space-between;
}
.post
{
    width: 28.58vw;
}
.post h3
{
    margin-top: 2.7rem;
    margin-bottom: 0.8rem;
}
.author_div
{
    display: flex;
    gap: 1.2rem;
    margin-top: 2.5rem;
}
.author_div p
{
    display: flex;
    flex-direction: column;
}
.author_div img
{
    height: fit-content;
}
.date
{
    color:rgba(71, 84, 103, 1);
}
.list_section
{
    padding-top: 16.5rem;
    margin-top:10rem;
    text-align: center;

}
.list_section h2
{
    width: 56.33vw;
    margin-left:auto;
    margin-right: auto;
}
.list
{
    width: 64vw;
    margin-left: auto;
    margin-right: auto;
}
.item
{
    display: flex;
    justify-content: space-between;

    margin-left:auto;
    margin-right: auto;
    align-items: center;
}
.plus-square {
    width: 2.4rem;
    height: 2.4rem;
    border: 2px solid #8c97a6;
    align-items: center;
    font-size: 24px;
    color: #8c97a6;
    line-height: 1;
}
.plus
{
    margin-left: auto;
    margin-right: auto;
}
hr
{
    margin-top: 2.9rem;
    margin-bottom: 2.2rem;
    border: rgba(234, 236, 240, 1) solid 0.1px;
}
.list_section h2
{
    margin-bottom: 8.1rem;
}
.control_section
{
    background-color:rgba(20, 42, 49, 1);
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
    padding-top: 9.5rem;
    margin-top: 24.5rem;
    padding-bottom: 12.2rem;
    border-radius:16px;
}
.control_section h1
{
    margin-bottom: 0rem;
}
.white
{
    color:white;
}
.wr .white
{
    margin-left: -16.5rem;
    color:white;
}
.red
{
    z-index: 10;
    color:#FDB0AB;
    margin-top: -6.3rem;
    margin-left: -2rem;
}
.white2
{
    color:white;
    margin-left: 5.5rem;
}
.control_section p
{
    color:white;
    margin-top: 2.4rem;
}
.control_section .button_div
{
    margin-top: 4.2rem;
    flex-direction: row;
    justify-content: center;
    gap: 5.6rem;
}
.control_section button
{
    background-color:rgb(255, 255, 255);
    color:rgba(20, 42, 49, 1);
    font-size: 1.6rem;
    font-weight: 100;
    align-items:center;
    padding: 1rem;
    width: 25rem;
    height: 4.7rem;
    border-radius: 12.8rem;
    display: flex;
    gap: 3rem;
}
footer
{
    margin-top: 8rem;
    padding-top: 7rem;
    padding-left: 4.5rem;
}
footer .button_div
{
    margin-top: 5.7rem;
}
.social-icons
{
    margin-top: 5rem;
    display: flex;
    gap: 2.4rem;
}
.social-icons a {
    color:black; 
    font-size: 2.4rem; 
}
.content_section 
{
    display: flex;
    justify-content: space-between;
}
ul
{
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-right: 11.7rem;
}
.copyright
{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.copyright div
{
    width: 52.75vw;
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}
.copyright p
{
    color:#8c97a6;
    font-size: 1.4rem;
}

